
.messages-container{

    padding-top: 5.5em;

    background-color: coral;

    transform: scaleY(-1);

    overflow-y: auto;

}


.message{
    height: fit-content;
    padding: 0.3em;
    padding-bottom: 0.6em;


    transform: scaleY(-1);
}

.mine {
    direction: rtl;
}

.message > .sender-name {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.message > .content {
    direction: ltr;
    width: fit-content;
    height: fit-content;

    max-width: 70%;
    word-break: break-word;

    padding: 0.3em;

    background-color: aliceblue;
    border-radius: 0.4em;
}
