
.connected-list{
    position: absolute;

    top: 0px;

    width: 100%;
    height: 100vh;
}


#messages{
    position: absolute;
    top: 0px;
    right: 0px;

    z-index: -3;

    width: 100%;
    height: 100vh;
}

.msg-page-header > #show-users-btn{
    display: block;
}


@media only screen and (min-width: 13cm) {
    .connected-list{
        width: 35%;

    }
    
    #messages{
        width: 65%;
    }
    .msg-page-header > #show-users-btn{
        display: none;
    }
}









